<div class="list_group">
  <div class="title">Discussion threads</div>
  <table class="threads">
    <caption><%= link_to"See all / post your own".gsub(" ", "&nbsp;").html_safe, comments_path unless controller_name == "comments" -%></caption>
<%- @comments.each do |comment|
      comment_count = comment.comment_threads.first.comment_count -%>
    <tr>
      <td><%= link_to (comment.comment_threads.first.title || "something"), comment_path(comment.id) %></td>
      <td><%= link_to comment.user.handle, comment.user %></td>
      <td><%= pluralize(comment_count - 1, "comment") unless comment_count == 1 && comment != @comments.first %></td>
    </tr>
<%- end -%>
  </table>
</div>
