<div class="markdown_tip">
  <div class="toggle_tip">You can use markdown here</div>
  <div class="tip_text">
    <p>_italic_ and *italic*<p>
    <p>~~strikethrough~~</p>
    <p>^(superscript)</p>
    <p>https://autolinking.biz , www.like.co.kr ftp://this.info</p>
    <p>~~~ruby<br />
       def code_snippets; puts "&lt;b>like this&lt;/b>"; end<br />
       ```</p>
    <p>Markup outside code blocks is stripped out.</p>
  </div>
</div>
