<div class="show">
  <p>
    <strong>User name:</strong>
    <%= @user.handle%>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>

  <p>
    <strong>User type:</strong>
    <%= @user.role %>
  </p>
</div>
