<div class="title">Makers' Circle</div>
<%- if session[:login] -%>
<%=   render partial: "posts/list", locals: {threads: @posts} %>
<%=   render partial: "comments/list", locals: {threads: @comments} %>
<%=   render partial: "events/list", locals: {threads: @events} %>
<%- else -%>
<div class="home">
  <p>Now printing...</p>
  <p><%= link_to "Register!", new_user_path %></p>
</div>
<%- end -%>
