<div class="list_group">
  <div class="title">Projects and Snippets</div>
  <table class="threads">
    <caption><%= link_to "See all / post your own".gsub(" ", "&nbsp;").html_safe, posts_path unless controller_name == "posts" %></caption>
<%- @posts.each do |post|
      comment_count = post.comment_threads.first.comment_count -%>
    <tr>
      <td><%= link_to (post.comment_threads.first.title || "something"), post_path(post.id) %></td>
      <td><%= link_to post.user.handle, post.user %></td>
      <td><%= pluralize(comment_count, "comment") unless comment_count.nil? && post != @posts.first %></td>
    </tr>
<%- end -%>
  </table>
</div>
