/*
 *= require_self
 *= require_tree .
 */

.login_box {
  position: absolute;
  top: .3em;
  right: .3em;
  background-color: #eee;
  padding: .5em;
  width: auto;
  margin: 0;
  border-radius: 5px;
  font-size: 10pt
}

.login_box > p {
  margin: 0;
}

.title {
  width: 100%;
  font-size: 36pt;
  font-family: sans-serif;
  text-align: center;
  color: #000
}

.hide {
  display: none !important
}
.invisible {
  visibility: hidden
}

input[type=text],
input[type=password],
input[type=email] {
  padding: .3em
}

select {
  padding: .3em 0 .3em .8em
}
option {
  margin: .3em
}
