/*
 *= require_self
 *= require_tree .
 */

.login_box {
  position: absolute;
  top: .3em;
  right: .3em;
  background-color: aliceblue;
  padding: .5em;
  width: auto;
  margin: 0;
  border-radius: 5px;
  font-size: 10pt
}

.login_box > p {
  margin: 0
}

.hide {
  display: none !important
}
.invisible {
  visibility: hidden
}

a {
  text-decoration: none;
  color: #a01;
  font-weight: bold
}
a:hover {
  text-decoration: underline
}

input[type=text],
input[type=password],
input[type=email] {
  padding: .3em;
  outline: 0
}

select {
  padding: .3em 0 .3em .8em
}
option {
  margin: .3em
}
