/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.login {
  position: absolute;
  top: .3em;
  right: .3em;
  background-color: #eee;
  padding: .5em;
  width: auto;
  margin: 0;
  border-radius: 5px
}

.login > p {
  margin: 0
}

.title {
  width: 100%;
  font-size: 36pt;
  font-family: sans-serif;
  text-align: center;
  color: #000
}
