.head_body {
  margin: 1em 0;
  padding: 1em;
  text-indent: 3em;
  background-color: #eee;
  overflow: auto
}

.head_body_edit > textarea {
  margin: 1em 0
}

.markdown_tip {
  border-radius: 0 0 4px 4px;
  float: right;
  background-color: #003;
  color: white;
  padding: .5em .8em;
  position: relative;
  height: 2em;
  right: 10px
}

.toggle_tip {
  font-weight: bold;
  cursor: pointer;
  font-size: 9pt;
  position: relative;
  text-align: right
}

.tip_text {
  display: none;
  margin-top: .3em;
  position: relative;
  width: 400px;
}

.show_tip {
  width: 400px;
  border-radius: 4px;
  right: 0;
}

.show_tip > .tip_text {
  display: block;
  right: 0;
  top: 1.5em;
  position: absolute;
  background-color: #003;
  padding: .5em .8em;
  border-radius: 0 0 4px 4px
}

.show_tip p, .comment p, .head_body p {
  margin: .3em;
  text-indent: 0;
  line-height: 1.4em;
  font-size: 10pt;
}

.comment > div > :nth-last-child(2), .head_body > :nth-last-child(2) {
  display: inline
}
