form.show > .body > p {
  font-size: 12pt
}

form.show > .time_edit {
  padding: 0 20px 20px 20px;
  background-color: gold
}

.attendees {
  font-size: 10pt;
  padding: 10px 20px
}

.attendees > input[type=submit] {
  margin: -.6em 0
}

select {
  padding: .3em;
  height: 2.2em
} 

option {
  padding: .3em;
  margin: 0
}
