.head_body > p {
  font-size: 12pt
}

.head_attendees {
  font-size: 10pt
}

.head_attendees > input[type=submit] {
  margin: -.6em 0
}

.head_attendees > a {
  text-decoration: none
}

select {
  padding: .3em;
  height: 2.4em
} 

option {
  padding: .3em;
  margin: 0
}
