.list_group > .title {
  margin-left: 20px;
  padding: .8em 0;
  font-size: 18pt;
  background-color: inherit;
  color: #f02
}

td > .th {
  float: right
}
td > .th:after {
  content: "\a0";
}

.new > .form_label {
  padding: 10px
}

.head_title {
  font-size: 24pt;
  text-align: justify
}

form .head_rename {
  vertical-align: top;
  font-size: 16pt;
  padding: 0.1em
}

.head_subhead {
  font-size: 10pt
}

.action {
  cursor: pointer
}
.action:hover {
  text-decoration: underline
}

.head_remove,
.comment_remove {
  margin-top: 1em;
  display: inline-block
}
.head_remove:hover > input {
  display: inline !important;
  margin: -.5em 0
}
.comment_remove:hover > input {
  visibility: visible
}

.head_removed {
  color: silver;
  font-weight: bold;
  font-size: 18pt
}

.back {
  margin: 1em 20px
}

table {
  border-collapse: collapse
}

table.threads {
  background-color: #def
}

table.comments {
  width: 83%;
  background-color: gold
}

tr {
  width: 100%
}

tr > :first-child {
  width: inherit;
  padding-left: 20px !important
}
tr > :nth-last-child(0n+3) {
  min-width: 14em
}
tr > :nth-last-child(0n+2) {
  min-width: 10em
}
tr > :last-child {
  min-width: 17em
}

th,
td > div,
.threads td {
  padding: .5em 0
}

td {
  vertical-align: top;
  background-color: transparent
}

.threads > caption {
  caption-side: bottom;
  text-align: left;
  margin-bottom: 1em
}
.list_group:last-child caption {
  margin-bottom: 3em
}
caption > * {
  margin: .5em 20px
}

caption > :first-child {
  display: inline-block
}

.comments > caption {
  caption-side: top;
  text-align: left;
  background-color: inherit
}

.commenter,
.comment {
  line-height: 1.5em;
  border-bottom: 8px solid white
}

.commenter {
  width: 12em;
  vertical-align: top;
  font-size: 10pt
}
.commenter > a {
  text-decoration: none;
  display: block
}

.comment > div {
  background-color: #eee;
  overflow: auto
}

.timestamp {
  color: #666;
  font-style: italic;
  font-size: 10pt;
  float: right;
  line-height: 1.9em
}

textarea {
  width: 100%;
  height: 10em;
  resize: vertical;
  font-size: 12pt;
  padding: .3em;
  display: inherit
}

.body .new {
  padding: 20px 0;
  overflow: hidden;
}
.body .new > label {
  padding: 0 20px 20px 20px;
  margin: 0px
}
.body .new > div {
  padding: 0 20px 10px 20px
}

.body .new div.message {
  padding: 0
}
.body .new label.error {
  background-color: #f02;
  padding: 10px 20px
}

input[name$='[title]'] {
  font-size: 18pt;
  width: 100%
}

#post_item_cell {
  width: 100%;
  padding-left: 10px
}
#post_kind_cell,
#post_item_cell {
  padding-bottom: 0
}

input[name$='[item]'] {
  padding: .4em;
  width: 100%
}

#post_submit_cell,
#discussion_submit_cell,
#event_submit_cell {
  padding: 20px;
  padding-left: 100px;
  display: inline-block;
  background-color: #003;
  border-radius: 0 25px 25px 0;
  position: relative;
  right: 1000px;
  transition: right .4s ease
}