.list_group > .title {
  margin-left: 20px;
  padding: .8em 0;
  font-size: 18pt;
  background-color: inherit;
  color: #f02
}

td > .th {
  float: right
}
td > .th:after {
  content: "\a0"
}

.new > .form_label {
  padding: 10px
}

.show > .title {
  font-size: 24pt;
  text-align: left
}

form.show > .rename {
  vertical-align: top;
  font-size: 16pt;
  padding: 0.1em
}

.show > .subhead {
  font-size: 10pt;
  padding: 10px 20px 0 20px
}

form.show > .time {
 background-color: #f02;
 font-family: 'Roboto';
 font-style: italic;
 color: white;
 padding-bottom: 5px
}

.show > .body {
  background-color: #def;
  padding: 20px;
  text-align: justify;
  text-indent: 2.5em
}

form.show.active > .title {
  color: black;
  font-style: normal;
  font-family: 'Libre Baskerville'
}

form.show.active > .title,
form.show > .body_edit {
  background-color: gold;
  padding: 20px
}
form.show > .body_edit {
  padding-top: 0
}

form.show.active > .subhead,
form.show.active > .attendees {
  padding-bottom: 20px
}
form.show.active > .time ~ .subhead {
  padding-bottom: 0
}

.action {
  cursor: pointer
}
.action:hover {
  text-decoration: underline
}

form.show > .remove,
.comment_remove {
  display: inline-block;
  float: right;
  margin: 0 20px 0 10px;
  border-radius: 0 0 9px 9px;
  cursor: default;
  padding: 5px
}

form.show > .remove {
  background-color: #f02;
  color: white;
}
form.show > .remove > span {
  margin: 0 15px
}
form.show > .remove:hover > input,
.comment_remove:hover > input {
  visibility: visible !important
}

.comment_remove {
  margin-top: 1em;
  background-color: aliceblue;
  margin-top: -5px;
  color: black;
  font-size: 12pt;
  border: 2px solid #003;
  border-top-width: 0
}
.comment_remove > span {
  margin: 0 15px
}

.removed {
  color: silver;
  font-weight: bold;
  font-size: 18pt;
  padding: 10px 20px;
}

.back {
  margin: 1em 20px
}

table {
  border-collapse: collapse
}

table.threads,
table.prefs {
  background-color: #def
}

.comments > #new_comment {
  padding: 0
}

tr {
  width: 100%
}

tr > :first-child {
  width: inherit;
  padding-left: 20px !important
}
tr > :nth-last-child(0n+3) {
  min-width: 16em
}
tr > :nth-last-child(0n+2) {
  min-width: 10em
}
tr > :last-child {
  min-width: 17em
}

th,
td > div,
.threads td {
  padding: .5em 0
}

td {
  vertical-align: top;
  background-color: transparent
}

.threads > caption {
  caption-side: bottom;
  text-align: left;
  margin-bottom: 1em
}
.list_group:last-child caption {
  margin-bottom: 3em
}

.threads > caption > * {
  margin: .5em 20px
}

.threads > caption > :first-child {
  display: inline-block
}

.comments > #new_comment {
  caption-side: top;
  text-align: left;
  background-color: gold
}

.comments > #new_comment > :first-child,
.comment_edit > :first-child {
  margin: 0 20px 10px 20px
}

.commenter,
.comment {
  line-height: 1.5em;
  padding: 5px 10px;
}

.commenter {
  font-size: 10pt;
  background-color: #003;
  color: white
}

.commenter > a {
  color: #f02
}

.comment {
  background-color: aliceblue;
  overflow: auto;
  width: 100%
}

.timestamp {
  color: #666;
  font-style: italic;
  font-size: 10pt;
  float: right;
  line-height: 1.9em
}

.comment_edit {
  background-color: aliceblue;
  padding: 20px 0
}

textarea {
  width: 100%;
  height: 10em;
  resize: vertical;
  font-size: 12pt;
  padding: .3em;
  display: inherit
}



.body .new,
form.show,
form#poly_comment #new_comment {
  padding: 20px 0;
  overflow: hidden
}
.body .new > label {
  padding: 0 20px 20px 20px;
  margin: 0px
}
.body .new > div {
  padding: 0 20px 10px 20px
}

.message {
  padding: 0 !important
}
label.error {
  background-color: #f02;
  padding: 10px 20px
}

input[name$='[title]'] {
  font-size: 18pt;
  width: 100%;
  display: block
}

#post_item_cell {
  width: 100%;
  padding-left: 10px
}
#post_kind_cell,
#post_item_cell {
  padding-bottom: 0
}

input[name$='[item]'] {
  padding: .4em;
  width: 100%
}

.submit {
  padding: 20px 20px 20px 100px !important;
  display: inline-block;
  background-color: #003;
  border-radius: 0 25px 25px 0;
  position: relative;
  right: 1000px;
  transition: right .4s ease;
  margin-left: 0 !important
}